{% extends 'layout/main.html' %}
{% block title %}HomePage{% endblock %}
{% block content %}
<div class="fh5co-slider">
  <div class="container">
	<div class="owl-carousel owl-carousel-main">
	  <div><img src='{{ url_for('static', filename='images/SweetenHeadshot.jpg') }}' alt="App Creator"></div>
	  <div><img src='{{ url_for('static', filename='images/UR.2col.v1.jpg') }}' alt="University of Rochester"></div>
	  <div><img src= '{{ url_for('static', filename='images/supreme-court.jpg') }}' alt="Supreme Court"></div>
	</div>
  </div>
</div>
<div id="fh5co-intro" class="fh5co-section">

  <div class="container">
    <div class="row row-bottom-padded-md">
	  <div class="col-md-8 col-md-offset-2 text-center ts-intro">
	    <h1>About the Creator: Matt Sweeten</h1>
	    <p class="fh5co-lead">
          Matt Sweeten is a Ph.D. Candidate in the Political Science department at the University of Rochester. Transitioning from academic work on the Supreme Court and Federal Courts to industry, Matt's passion about music, especially the demarcation of genres, inspired him to devote his time as a Fellow at the Insight Data Science Remote program on a project involving music! 
        </p>
	  </div>
    </div>
  </div>
</div>
                
{% endblock %}
