<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Classic Taste</title>

		<link rel="stylesheet" href='{{url_for('static', filename='plugin/reveal.js-master/css/reveal.css') }}'>
		<link rel="stylesheet" href='{{url_for('static', filename='plugin/reveal.js-master/css/theme/solarized.css') }}'>

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href='{{url_for('static', filename='plugin/reveal.js-master/lib/css/zenburn.css')}}'>

		<!-- Printing and PDF exports -->
		<script>
          if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
			  <section>
                <h1>Classic Taste</h1>
                <div>
                  <br>
                </div>
                <div>
                  <img src='{{url_for('static', filename='images/LogoM.png')}}'>
                  <br>
                </div>

                <div> <br>
                </div>
                <div>Matthew Sweeten</div>
                <div>Classical Music for Discerning Taste</div>
              </section>
              <section>
                <h2>Roadmap</h2>
                <br>
                <div style="max-width: 300px; position: absolute; top:
                            50px; left -100px">
                  <ol>
                    <li>Motivation</li>
                    <li>The Web Application</li>
                    <li>Methodology and Algorithms</li>
                    <li>Initial Results</li>
                    <li>Most Recent Results</li>
                    <li>Future Direction and Extensibility</li>
                  </ol>
                </div>
                <img src='{{url_for('static',
                filename='images/Extended/bg_road2.jpg')}}'
                style="position: absolute; top:
                            300px; left 300px">
              </section>
              <section>
                <h3>Choosing a Project</h3>
                <ul>
                  <li class="fragment">Difficult Measurement Problem</li>
                  <li class="fragment">Existing Product is Inadequate</li>
                  <li class="fragment">Data is Publicly Accessible</li>
                  <li class="fragment">Non-Traditional Data</li>
                </ul>
              </section>
              <section>
                <h3>Music Genre Recommendations</h3>
                <p>Tricky to provide song recommendations</p>
                <img src='{{url_for('static',
                     filename='images/Extended/mozart.jpg')}}'
                     style="max-width: 300px">
                <span style="position: relative; top:
                             -100px">&#x3f;&#8594;</span>
                <img src='{{url_for('static',
                     filename='images/Extended/beethoven.jpg')}}'
                     style="max-width: 300px">
              </section>
              <section>
                <h3>Music Genre Recommendations</h3>
                <p>Pandora and Spotify's Methods Fail</p>
                <img src='{{url_for('static',
                     filename='images/Extended/orchestra.jpg')}}'
                     style="max-width: 300px">
                <img src='{{url_for('static',
                     filename='images/Extended/electronic.jpg')}}'
                     style="max-width: 300px">                
                <br>
                <p>Rich data available via Spotify Web API</p>
                <p>Audio, Song, Artist, and Album Metadata</p>
              </section>
              <section>
                <h3>Data Trade-Offs</h3>
                <ul>
                  <li>Many Genres vs. Sample Size and Computational Resources</li>
                  <li>Complexity of Data vs. Sample Size and Time Constraints</li>
                  <li>Generalizability vs. Completeness</li>
                </ul>
                <br>
                <div class="fragment">
                  <p>Solution: Focus On One Genre</p>
                  <img src='{{url_for('static',
                filename='images/Extended/sheet-music.jpg')}}'
                style="max-width: 250px;">
                </div>
              </section>
              <section>
                <section>
                <h2>A Simple Request</h2>
                <div>
                  <img src='{{url_for('static', filename='images/Search1.png')}}'>
                  <br>
                </div>
                </section>
                <section data-transitions="fade-out">
                  <h2>Some Good Results...</h2>
                  <div>
                  <img src='{{url_for('static', filename='images/Songs1.png')}}'>
                  <br>
                  </div>
                  <div class="fragment">
                  <img src='{{url_for('static', filename='images/Bach.jpg')}}' style="max-width: 100px; position: absolute; top: 450px; left:175px">
                  <p style="position: absolute; top: 508px; left:300px">&#8594;</p>
                  </div>
                </section>
                <section data-background='{{url_for('static', filename='images/Songs2_blur_nonbach.png')}}'>

                  <h2 style="position: absolute; top: 000px; left:375px"><font color="99ff66"> Uh Oh!</font></h2>

                  <div><br></div>
                  <div class="fragment" style="position: absolute; top: 190px; left: 300px;width:300px;height:475px;border:2px solid #ff1a1a;">

                  </div>
                  <div class="fragment" style="position: absolute; top: 310px; left: -100px;">
                    <img src='{{url_for('static', filename='images/Bach4.jpg')}}' style="max-width: 300px;">
                  </div>
                  <div class="fragment" style="position: absolute; top: 100px; left: 650px;">
                    <img src='{{url_for('static', filename='images/Caspar1.jpg')}}' style="max-width: 400px;">

                  </div>
                  </section>
                <section>

                  <h2>Why Such Bad Results?</h2>

                  <div>
                    <img src='{{url_for('static', filename='images/Artists.png')}}' style="width: 3000px;">
                    <br>
                  </div>

                  <div class="fragment">
                    <img src='{{url_for('static', filename='images/Artists_X2.png')}}' style="position: absolute; left:16px; top:141.5px">
                    <br>
                  </div>
                </section>
              </section>
              <section>
                <h2>What's the concept behind my recommendations?</h2>
                <div>
                  <p>Multiple recordings for one song</p>
                  <img src='{{url_for('static', filename='images/beethoven.jpg')}}'>
                  <img src='{{url_for('static', filename='images/romantic.jpg')}}'>
                  <p>Fur Elise</p>
                </div>
              </section>
              <section>
                <h3>Putting the Microscope on Classical Music</h3>
                <p>Useful Case</p>
                <ul>
                  <li>Large Population of Songs</li>
                  <li>Multiple Recordings by Multiple Symphonies and Orchestras</li>
                  <li>Common Links between Composers</li>
                  <li>Features in Song Titles</li>
                  <li>Hard to Provide Recommendations</li>
                </ul>
              </section>
              <section>
                <h5>Here's what I did</h5>
                <section id="fragments">
                <div class="fragment">
				  <img src='{{url_for('static', filename='images/Spotify_Icon_RGB_Green.png')}}' style="max-width: 100px; position: absolute; top: 0px; left: 65px;">
                  <p style="vertical-align:middle">~80,000 songs
                  &#8594; ~115,000 songs</p>
                </div>
                <div class="fragment">

                  <span>&#8595;</span>
                  <img src='{{url_for('static', filename='images/Postgres.png')}}' style="max-width: 100px; position: absolute; top: 150px; left: 65px;">
                  <p style="vertical-align:middle">Stored in PostgreSQL</p>

                  <span>&#8595;</span>
                  <img src='{{url_for('static', filename='images/python-logo.png')}}' style="max-width: 100px; position: absolute; top: 280px; left:65px;">
                  <p>Match different song names</p>
                </div>
                <div class="fragment">
                  <span>&#8595;</span>
                  <img src='{{url_for('static', filename='images/igraph3.svg')}}' style="max-width: 100px; position: absolute; top:405px; left:65px;">
                  <p>Nodes: Songs ~45,000 &#8594; ~62,000</p>
                  <p>Links: Albums ~550,000 &#8594; ~780,000</p>

                </div>
                </section>
                

              </section>
              
              <section>
                
                <h5>Clause and Fuzzy Matching</h5>
                  <div class="fragment" style="max-width: 500px; position: absolute; top:50px; left:0px;"><p>Key Signature</p>
                    <ul>
                      <li>Bagatelle in <font color="9999ff">A
                      Minor</font>, WoO 59 - Fur Elise by
                        Beethoven</li>
                      <li>Nocturne No. 2 in <font color="9999ff">E
                          Flat Major</font> Op. 9 No. 2 by Chopin</li>
                      <li>Prelude in <font color="9999ff">C Sharp
                          Minor</font>, Op. 3, No. 2 by Rachmaninoff</li>
                    </ul>

                  </div>
                  <div class="fragment" style="max-width: 500px; position: absolute; top:50px; left:500px;"><p>Series and Movement</p>
                    <ul>
                      <li><font color="00ffff">Symphony No. 7</font>,
                        Op. 92: <font color="#33cc33">II</font>. Allegretto
                        by Beethoven</li>
                      <li><font color="00ffff">Die
                          Walkure</font>, <font color="#33cc33">Act
                          III</font>: Ride of the Valkyries
                        by Wagner</li>
                      <li><font color="00ffff">Rodeo</font>: Four
                        Dance
                        Episodes: <font color="#33cc33">IV</font>. Hoedown
                        by Copland</li>
                    </ul>
                  </div>
              </section>
              <section>
                <h5>Simple Network</h5>
                <img src='{{url_for('static', filename='images/Duo.png')}}'>
                <img src='{{url_for('static', filename='images/PianoClas.jpg')}}' style="max-width: 200px;position:absolute; top:200px; left:0px">
                <div class="fragment">
                  <img src='{{url_for('static', filename='images/Trio2.png')}}' style = "position:absolute; top: 88px; left:276px;">
                  <img src='{{url_for('static', filename='images/PianoFav.jpg')}}' style="max-width: 200px; position:absolute; top: 75px; left:700px;">
                  <img src='{{url_for('static', filename='images/beethoven.jpg')}}' style="max-width: 200px; position:absolute; top: 300px; left:700px;">
                  </div>
              </section>
              <section>
                <h3>Why a Network?</h3>
                <ul>
                  <li>More information than audio or text</li>
                  <li>Faster acquisition and modeling</li>
                  <li>Can be further integrated with audio and user data</li>
                </ul>
              </section>
              <section>
                <h3>Potential Network Models</h3>
                  <ul>
                    <li class="fragment">Network Distance
                      Measure: <font color="ff0000">Not fully
                      connected network</font></li>
                    <li class="fragment">Semi-Supervised Community
                    Detection: <font color="ff0000">Only implemented
                    in Java</font></li>
                    <li class="fragment">Unsupervised Community
                    Detection <font color="008000">Networkx and
                    iGraph in Python</font></li>
                  </ul>
              </section>
              <section>
                  <h5>The Algorithm</h5>
                  <div style="max-width: 200px; position: absolute; top:100px; left:-110px;">
                    <p>Method</p>
                    <ul>
                      <li>Unsupervised Community Detection (Clustering): Infomap</li>
                      <br>
                      <li>Unlabeled Clusters</li>
                    </ul>
                  </div>
                  <div class="fragment" style ="max-width: 200px; position: absolute; top:100px; left:800px;">
                    <p>Interpretation</p>
                    <ul>
                      <li>Majority voting with pre-labeled nodes (songs)</li>
                    </ul>
                  </div>
                  <div class="fragment">
                  <img src='{{url_for('static', filename='images/community0.png')}}'>
                  <p style="position: absolute; top:35px; left:200px;">Largest Community: Baroque</p>
                </div>
                </section>
                <section>
                  <section data-transition="fade">
                    <h3>Initial Song Predictions</h3>
                    <div style="max-width: 200px;position: absolute; top:100px; left:-100px;">
                      <ul>
                        <li>Switch Genre from Spotify (Non-Compilation)</li>
                        </ul>
                      </div>
                    <img src='{{url_for('static', filename='images/New/Old/a2.png')}}'
                         style="max-width: 550px">
                  </section>
                  <section data-transition="fade">
                    <h3>Initial Song Predictions</h3>
                    <div style="max-width: 200px;position: absolute; top:100px; left:-100px;">
                      <ul>
                        <li>Switch Genre from Spotify (Non-Compilation)</li>
                        <br>
                        <li>Same Genre as Spotify (Non-Compilation)</li>
                        </ul>
                      </div>
                  <img src='{{url_for('static', filename='images/New/Old/ab2.png')}}' style="max-width: 550px">
                  </section>
                  <section data-transition="fade">
                    <h3>Initial Song Predictions</h3>
                    <div style="max-width: 200px;position: absolute; top:100px; left:-100px;">
                      <ul>
                        <li>Switch Genre from Spotify (Non-Compilation)</li>
                        <br>
                        <li>Same Genre as Spotify (Non-Compilation)</li>
                        </ul>
                    </div>
                    <div style="max-width: 200px;position: absolute; top:100px; left:800px;">
                      <ul>
                        <li>Same Genre as Spotify (Compilation)</li>

                        </ul>
                      </div>
                  <img src='{{url_for('static', filename='images/New/Old/abc2.png')}}' style="max-width: 550px">
                  </section>

                  <section data-transition="fade">
                    <h3>Initial Song Predictions</h3>
                    <div style="max-width: 200px;position: absolute; top:100px; left:-100px;">
                      <ul>
                        <li>Switch Genre from Spotify (Non-Compilation)</li>
                        <br>
                        <li>Same Genre as Spotify (Non-Compilation)</li>
                        </ul>
                    </div>
                    <div style="max-width: 200px;position: absolute; top:100px; left:800px;">
                      <ul>
                        <li>Same Genre as Spotify (Compilation)</li>
                        <br>
                        <br>
                        <br>
                        <li>Switch Genre from Spotify (Compilation)</li>
                        </ul>
                      </div>
                  <img src='{{url_for('static', filename='images/New/Old/abcd2.png')}}' style="max-width: 550px">
                  </section>
                </section>
                <section>
                  <section data-transition="fade">
                    <h3>Latest Iteration</h3>
                    <p>Seven Iterations Over Seven Weeks</p>
                    <br>
                    <p>5,000 songs in each iteration</p>
                    <br>
                    <p>Recently updated to 10,000 per week</p>
                  </section>
                  <section data-transition="fade">
                    <h3>Comparison Over Time</h3>
                    <img src='{{url_for('static',
                    filename='images/New/abcd2.png')}}'  style="max-width: 550px">
                    <p style="position: absolute; top:300px;
                    left:-100px;">Latest</p>
                  </section>
                  <section data-transition="fade">
                    <h3>Pre-Labeled (Training) Song Switching</h3>
                    <img src='{{url_for('static', filename='images/New/Old/count_training.png')}}'>
                    <p style="position: absolute; top: 300px; left: -100px">Initial</p>
                  </section>
                  <section data-transition="fade">
                    <h3>Pre-Labeled (Training) Song Switching</h3>
                    <img src='{{url_for('static', filename='images/New/count_training.png')}}'>
                    <p style="position: absolute; top: 300px; left: -100px">Latest</p>
                  </section>
                  <section data-transition="fade">
                    <h3>Un-Labeled (Test) Song Switching</h3>
                    <img src='{{url_for('static', filename='images/New/Old/count_test.png')}}'>
                    <p style="position: absolute; top: 300px; left: -100px">Initial</p>
                  </section>
                  <section data-transition="fade">
                    <h3>Un-Labeled (Test) Song Switching</h3>
                    <img src='{{url_for('static', filename='images/New/count_test.png')}}'>
                    <p style="position: absolute; top: 300px; left: -100px">Latest</p>
                  </section>
                  <section data-transition="fade">
                    <h3>Takeaways</h3>
                    <ul>
                      <li>Transition from unlabeled genre to pre-labeled</li>
                      <li>Improvement in classical music recommendations</li>
                      <li>Pre-labeled songs generally remain in same
                        subgenre</li>
                      <li>Fewer test cases suggests bigger future updates</li>
                    </ul>
                  </section>
                </section>
                <section>
                  <h1>Future Direction</h1>
                  <ul>
                    <li>Integrate Spotify Login/User Data</li>
                    <li>Provide Feedback for Similar Communities</li>
                    <li>Iterate on Identifying Identical Songs</li>
                    <li>Integrate Audio Data</li>
                  </ul>
                  
                </section>
                <section>
                  <h2>Matthew Sweeten</h2>
                  <img src="{{url_for('static', filename='images/20170202-SweetenHeadshot.jpg')}}" style="max-width: 200px; position: absolute; top: 100px; left: 150px;">
                  <img src="{{url_for('static', filename='images/UR.2col.v1.jpg')}}" style="max-width: 200px; position: absolute; top: 300px; left: 150px;">
                  <img src="{{url_for('static', filename='images/Kayak.jpg')}}" style="max-width: 400px; position: absolute; top: 400px; left: 150px;">
                    <div style="position: absolute; left: 570px; top: 120px;">
                      <h3 style="text-align: left;">Ph.D. Political Science</h3>
                      <p style="text-align: left;">Unsupervised Text Classification</p>
                      <p style="text-align: left;">Political Preference Estimation</p>
                      <p style="text-align: left;">Text as Data</p>
                      <p style="text-align: left;">Semantic Modeling</p>
                    </div>
                </section>
                <section>
                  <h1>Appendix</h1>
                </section>
                <section>
                  <h5>Initial Song Switching (Test): Baroque Period</h5>
                    <img src='{{url_for('static', filename='images/New/Old/baroquetest.png')}}'>
                </section>
                <section>
                  <h5>Initial Song Switching (Training): Baroque Period</h5>
                    <img src='{{url_for('static', filename='images/New/Old/baroquetraining.png')}}'>
                </section>
                <section>
                  <h5>Initial Song Switching (Test): Romantic Period</h5>
                    <img src='{{url_for('static', filename='images/New/Old/romantictest.png')}}'>
                </section>
                <section>
                  <h5>Initial Song Switching (Training): Romantic Period</h5>
                    <img src='{{url_for('static', filename='images/New/Old/romantictraining.png')}}'>
                </section>
                <section>
                  <h5>Latest Song Switching (Test): Baroque Period</h5>
                    <img src='{{url_for('static', filename='images/New/baroquetest.png')}}'>
                </section>
                <section>
                  <h5>Latest Song Switching (Training): Baroque Period</h5>
                    <img src='{{url_for('static', filename='images/New/baroquetraining.png')}}'>
                </section>                
                <section>
                  <h5>Latest Song Switching (Test): Romantic Period</h5>
                    <img src='{{url_for('static', filename='images/New/romantictest.png')}}'>
                </section>
                <section>
                  <h5>Latest Song Switching (Training): Romantic Period</h5>
                    <img src='{{url_for('static', filename='images/New/romantictraining.png')}}'>
                </section>                                
            </section>
			</div>
		</div>

		<script src='{{url_for('static', filename='plugin/reveal.js-master/lib/js/head.min.js')}}'></script>
		<script src='{{url_for('static', filename='plugin/reveal.js-master/js/reveal.js')}}'></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: '{{url_for('static', filename='plugin/reveal.js-master/plugin/markdown/marked.js')}}' },
					{ src: '{{url_for('static', filename='plugin/reveal.js-master/plugin/markdown/markdown.js')}}' },
					{ src: '{{url_for('static', filename='plugin/reveal.js-master/plugin/notes/notes.js')}}', async: true },
					{ src: '{{url_for('static', filename='plugin/reveal.js-master/plugin/highlight/highlight.js')}}', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
