{% extends 'layout/main.html' %}
{% block title %}HomePage{% endblock %}
{% block content %}
		<div id="fh5co-intro" class="fh5co-section">
			<div class="container">
				<div class="row row-bottom-padded-md">
					<div class="col-md-8 col-md-offset-2 text-center ts-intro">
						<h1>How to Use This Site</h1>
						<p class="fh5co-lead">Upset by traditional popularity-based genre playlists? Classic Taste provides a litany of great pre-made playlists in different varieties of "classical" music using song network clustering techniques. Feel free to browse these playlists, play 30 seconds samples, or if you have a Spotify Account open your Spotify App and use this site as a remote!
					</div>
				</div>
			</div>
		</div>
{% endblock %}
