{% extends 'layout/main.html' %}
{% block title %}Romantic{% endblock %}
{% block content %}
<div class="container">
  <h1>Romantic Period</h1>
</div>
<table class="table table-hover">
{% for song_rows in subgenre %}
{% if loop.index % 2 == 1 %}
<tr>
  {% endif %}
  <td>
    <table>

      <tr>
        <td>
          <iframe src={{ song_rows['widget'] }} width="350" height="80" frameborder="0" allowtransparency="true"></iframe>
  </td>
  </tr>
 <tr>
  <td>
    <a href={{ song_rows['results_uri'] }}>
      <img src='{{ url_for('static', filename='images/button1.png') }}' alt="Checkmark" align="center">
    </a>
  </td>
 </tr>
 </table>
 </td>

{% if loop.index == subgenre|length or loop.index % 2 == 0 %}
  </tr>
{% endif %}
{% endfor %}
<table>

{% endblock %}
