<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Classic Taste</title>

		<link rel="stylesheet" href='{{url_for('static', filename='plugin/reveal.js-master/css/reveal.css') }}'>
		<link rel="stylesheet" href='{{url_for('static', filename='plugin/reveal.js-master/css/theme/solarized.css') }}'>

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href='{{url_for('static', filename='plugin/reveal.js-master/lib/css/zenburn.css')}}'>

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/home/msweeten/insight/app/static/plugin/reveal.js-master/css/print/pdf.css' : '/home/msweeten/insight/app/static/plugin/reveal.js-master/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
			  <section>
                <h1>Classic Taste</h1>
                <div>
                  <br>
                </div>
                <div>
                  <img src='{{url_for('static', filename='images/LogoM.png')}}'>
                  <br>
                </div>

                <div> <br>
                </div>
                <div>Matthew Sweeten</div>
                <div>Classical Music for Discerning Taste</div>
              </section>
              <section>
                <section>
                  <p> I love classical music!</p>
                <h2>A Simple Request</h2>
                <div>
                  <img src='{{url_for('static', filename='images/Search1.png')}}'>
                  <br>
                </div>
                </section>
                <section data-transitions="fade-out">
                  <h2>Some Good Results...</h2>
                  <div>
                  <img src='{{url_for('static', filename='images/Songs1.png')}}'>
                  <br>
                  </div>
                  <div class="fragment">
                  <img src='{{url_for('static', filename='images/Bach.jpg')}}' style="max-width: 100px; position: absolute; top: 450px; left:175px">
                  <p style="position: absolute; top: 508px; left:300px">&#8594;</p>
                  </div>
                </section>
                <section data-background='{{url_for('static', filename='images/Songs2_blur_nonbach.png')}}'>
                  
                  <h2 style="position: absolute; top: 000px; left:375px"><font color="99ff66"> Uh Oh!</font></h2>

                  <div><br></div>
                  <div class="fragment" style="position: absolute; top: 190px; left: 300px;width:300px;height:475px;border:2px solid #ff1a1a;">
                    
                  </div>
                  <div class="fragment" style="position: absolute; top: 310px; left: -100px;">
                    <img src='{{url_for('static', filename='images/Bach4.jpg')}}' style="max-width: 300px;">
                  </div>
                  <div class="fragment" style="position: absolute; top: 100px; left: 650px;">
                    <img src='{{url_for('static', filename='images/Caspar1.jpg')}}' style="max-width: 400px;">
                    
                  </div>
                  </section>
                <section> 

                  <h2>Why Such Bad Results?</h2>

                  <div>
                    <img src='{{url_for('static', filename='images/Artists.png')}}' style="width: 3000px;">
                    <br>
                  </div>

                  <div class="fragment">
                    <img src='{{url_for('static', filename='images/Artists_X2.png')}}' style="position: absolute; left:16px; top:141.5px">
                    <br>
                  </div>
                </section>
              </section>
              <section>
                <h2>What's the concept behind my playlists?</h2>
                <div>
                  <p>Multiple recordings for one song</p>
                  <img src='{{url_for('static', filename='images/beethoven.jpg')}}'>
                  <img src='{{url_for('static', filename='images/romantic.jpg')}}'>
                  <p>Fur Elise</p>
                </div>
              </section>
              <section>
                <h5>Here's what I did</h5>
                <section id="fragments">
                <div class="fragment">
				  <img src='{{url_for('static', filename='images/Spotify_Icon_RGB_Green.png')}}' style="max-width: 100px; position: absolute; top: 0px; left: 65px;">
                  <p style="vertical-align:middle">~80,000 songs</p>
                </div>
                <div class="fragment">
                  
                  <span>&#8595;</span>
                  <img src='{{url_for('static', filename='images/Postgres.png')}}' style="max-width: 100px; position: absolute; top: 150px; left: 65px;">
                  <p style="vertical-align:middle">Stored in PostgreSQL</p>

                  <span>&#8595;</span>
                  <img src='{{url_for('static', filename='images/python-logo.png')}}' style="max-width: 100px; position: absolute; top: 280px; left:65px;">
                  <p>Match different song names</p>
                </div>
                <div class="fragment">
                  <span>&#8595;</span>
                  <img src='{{url_for('static', filename='images/igraph3.svg')}}' style="max-width: 100px; position: absolute; top:475px; left:65px;">
                  <p>Nodes: Songs (~45,000)</p>
                  <p>Links: Albums (~550,000)</p>

                </div>
                </section>

              </section>
              <section>
                <h5>Simple Network</h5>
                <img src='{{url_for('static', filename='images/Duo.png')}}'>
                <img src='{{url_for('static', filename='images/PianoClas.jpg')}}' style="max-width: 200px;position:absolute; top:200px; left:0px">
                <div class="fragment">
                  <img src='{{url_for('static', filename='images/Trio2.png')}}' style = "position:absolute; top: 88px; left:276px;">
                  <img src='{{url_for('static', filename='images/PianoFav.jpg')}}' style="max-width: 200px; position:absolute; top: 75px; left:700px;">
                  <img src='{{url_for('static', filename='images/beethoven.jpg')}}' style="max-width: 200px; position:absolute; top: 300px; left:700px;">
                  </div>
              </section>
                <section>
                  <h5>The Algorithm</h5>
                  <div style="max-width: 200px; position: absolute; top:100px; left:-110px;">
                    <p>Method</p>
                    <ul>
                      <li>Unsupervised Network Clustering: Infomap</li>
                      <br>
                      <li>Unlabeled Clusters</li>
                    </ul>
                  </div>
                  <div class="fragment" style ="max-width: 200px; position: absolute; top:100px; left:800px;">
                    <p>Interpretation</p>
                    <ul>
                      <li>Majority voting with pre-labeled nodes (songs)</li>
                    </ul>
                  </div>
                  <div class="fragment">
                  <img src='{{url_for('static', filename='images/community0.png')}}'>
                  <p style="position: absolute; top:35px; left:200px;">Largest Community: Baroque</p>
                </div>                  
                </section>
                <section>
                  <section data-transition="fade">
                    <h3>Song Predictions</h3>
                    <div style="max-width: 200px;position: absolute; top:100px; left:-100px;">
                      <ul>
                        <li>Switch Genre from Spotify (Non-Compilation)</li>
                        </ul>
                      </div>
                    <img src='{{url_for('static', filename='images/a.png')}}' style="max-width: 550px">
                    <p>New Genre Non-Compilation</p>
                  </section>
                  <section data-transition="fade">
                    <h3>Song Predictions</h3>
                    <div style="max-width: 200px;position: absolute; top:100px; left:-100px;">
                      <ul>
                        <li>Switch Genre from Spotify (Non-Compilation)</li>
                        <br>
                        <li>Same Genre as Spotify (Non-Compilation)</li>
                        </ul>
                      </div>
                  <img src='{{url_for('static', filename='images/ab.png')}}' style="max-width: 550px">
                  </section>
                  <section data-transition="fade">
                    <h3>Song Predictions</h3>
                    <div style="max-width: 200px;position: absolute; top:100px; left:-100px;">
                      <ul>
                        <li>Switch Genre from Spotify (Non-Compilation)</li>
                        <br>
                        <li>Same Genre as Spotify (Non-Compilation)</li>
                        </ul>
                    </div>
                    <div style="max-width: 200px;position: absolute; top:100px; left:800px;">
                      <ul>
                        <li>Same Genre as Spotify (Compilation)</li>

                        </ul>
                      </div>
                  <img src='{{url_for('static', filename='images/abc.png')}}' style="max-width: 550px">
                  </section>
                  
                  <section data-transition="fade">
                    <h3>Song Predictions</h3>
                    <div style="max-width: 200px;position: absolute; top:100px; left:-100px;">
                      <ul>
                        <li>Switch Genre from Spotify (Non-Compilation)</li>
                        <br>
                        <li>Same Genre as Spotify (Non-Compilation)</li>
                        </ul>
                    </div>
                    <div style="max-width: 200px;position: absolute; top:100px; left:800px;">
                      <ul>
                        <li>Same Genre as Spotify (Compilation)</li>
                        <br>
                        <br>
                        <br>
                        <li>Switch Genre from Spotify (Compilation)</li>
                        </ul>
                      </div>
                  <img src='{{url_for('static', filename='images/abcd.png')}}' style="max-width: 550px">
                  </section>                  
                </section>
                <section>
                  <h2>Matthew Sweeten</h2>
                  <img src="{{url_for('static', filename='images/20170202-SweetenHeadshot.jpg')}}" style="max-width: 200px; position: absolute; top: 100px; left: 150px;">
                  <img src="{{url_for('static', filename='images/UR.2col.v1.jpg')}}" style="max-width: 200px; position: absolute; top: 300px; left: 150px;">
                  <img src="{{url_for('static', filename='images/Kayak.jpg')}}" style="max-width: 400px; position: absolute; top: 400px; left: 150px;">                  
                    <div style="position: absolute; left: 570px; top: 120px;">
                      <h3 style="text-align: left;">Ph.D. Political Science</h3>
                      <p style="text-align: left;">Unsupervised Text Classification</p>
                      <p style="text-align: left;">Political Preference Estimation</p>
                      <p style="text-align: left;">Text as Data</p>
                      <p style="text-align: left;">Semantic Modeling</p>
                    </div>
                  </section>

</section>
			</div>
		</div>

		<script src='{{url_for('static', filename='plugin/reveal.js-master/lib/js/head.min.js')}}'></script>
		<script src='{{url_for('static', filename='plugin/reveal.js-master/js/reveal.js')}}'></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: '{{url_for('static', filename='plugin/reveal.js-master/plugin/markdown/marked.js')}}' },
					{ src: '{{url_for('static', filename='plugin/reveal.js-master/plugin/markdown/markdown.js')}}' },
					{ src: '{{url_for('static', filename='plugin/reveal.js-master/plugin/notes/notes.js')}}', async: true },
					{ src: '{{url_for('static', filename='plugin/reveal.js-master/plugin/highlight/highlight.js')}}', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
